.fabric/
crash-reports/
logs/
Custom Origins/
disabledmods/
jarmods/
patched_shaders/
saves/
screenshots/
instance.json
options.txt
realms_persistence.json
servers.dat
usercache.json
Guildpack1.18-v1.1.zip
config/AdvancedCompass/waypoints
config/voicechat/voicechat-volumes.properties
config/.DS_Store
icon.png
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/soundphysics.properties
config/fabric/indigo-renderer.properties
config/roughlyenoughitems/config.json5
config/iris.properties
config/awesomedungeon_general_.properties
config/replaymod-rendersettings.json
config/voicechat/voicechat-server.properties
config/voicechat/voicechat-client.properties
export.log
replay_videos/
replay_recordings/
.replay_cache/